@import '../styles/functions';

.pads {
    &__container {
        display: flex;
        height: 75%;
        width: 100%;
        overflow: hidden;
        .pads {
            width: 75%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}
